 <!--- カテゴリ(科目・資格)検索 -->
<table class="table mt-4">
  <tr>
    <th>科目・資格検索</th>
  </tr>
  <% categories.each do |category| %>
  <tr>
    <td>
      <%= link_to posts_path(category_id: category.id) do  %>
      <%= category.name %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>