<div class="card-list container">
  <div class="d-flex row">
    <div class="col-sm-3">
      <!--- カテゴリ(科目・資格検索) -->
      <%= render 'search_category', categories: @categories %>
    </div>
    <div class="col-sm-9">
      <% if @favorites_posts.present? %>
        <h4 class="text-center mt-5">お気に入り投稿一覧</h4>
        <% @favorites_posts.each do |favorite| %>
          <!--投稿ステータス確認-->
          <% if favorite.is_active %>
            <div class="card border-warning w-100 mx-auto mt-4 shadow-lg p-3">
              <%= render'list', post:favorite, index: true  %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <h4>お気に入りした投稿はありません</h4>
      <% end %>
    </div>
  </div>
</div>
<div class="row my-2">
  <div class="col-sm-4"></div>
  <div class="col-sm-4"><%= paginate @favorites_posts, theme: 'bootstrap-5' %></div>
</div>
