<div class="text-center my-5">
  <h1><b>About</b></h1>
  <div class="text-left">
    <p class="my-5 mx-5">
      このサイトでは様々な資格や科目の勉強方法を検索したり、勉強の成果を投稿したりできます。
      勉強を頑張りたい方、勉強の成果を投稿したい方、情報交換をしたい方は是非登録してご利用ください。
    </p>
  </div>
</div>
