<!-- コメント一覧(public/posts/showで使用) -->
<div class="card-text">
  <h5 class="ml-2">
    <%= post.post_comments.count %>件コメント
  </h5>
  <hr>
  <% if post.post_comments.present? %>
    <% post.post_comments.where(parent_id: nil).first(2).each do |post_comment| %>
    <%= render 'public/post_comments/hide_comments', post_comment: post_comment, comment_reply: comment_reply %>
    <% end %>
    <% if post.post_comments.where(parent_id: nil).offset(2).any? %>
    <div class="text-center my-2">
      <button class="btn btn-primary" data-toggle="collapse" data-target="#example-1" aria-expand="false" aria-controls="example-1">
        この投稿に対する全てのコメントを表示する
      </button>
    </div>
    <% end %>
    <div class="collapse" id="example-1">
      <% post.post_comments.where(parent_id: nil).offset(2).each do |post_comment| %>
      <%= render 'public/post_comments/hide_comments', post_comment: post_comment, comment_reply: comment_reply %>
      <% end %>
    </div>
  <% end %>
</div>