/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .title-text{
  font-size: 80px;
  font-family: cursive;
 }

.logo{
  height: 50%;
  width: 50%;
}

.img-fluid{
  max-width: 100%;
  margin: 0;
  height: auto;
}

.box{
  position: relative;
  top: 0;
  left: 30px;
}

.box h1{
  position: absolute;
  top: 100px;
  left: 50px;
}

.new-post,.edit-post{
  background-color: #FFFFCC;
}

div.card{
  background-color: #FFFFE0;
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}